<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budgtr</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />

</head>
<body>

    <div class="container">
        <h1><%= allBudget.name %></h1>
        <a href="/budget" class="back-btn">BACK</a>
        <br>
        <br>
        <b>date:</b> <%= allBudget.date %>
        <br>
        <b>name:</b> <%= allBudget.name %> 
        <br>        
        <b>from:</b> <%= allBudget.from %>
        <br>    
        <b>amount:</b> <%= allBudget.amount %>
        <br>
        <b>tags:</b> <%= allBudget.tags %>
    </div>
    
</body>
</html>